'''Topics covered
1)Variables
2)Data Types
3)Operators
4)if,else condition
5)Indentation
6)For Loop
7)Continue, break, pass condition
8)While Loop
9) Range function
10) length function
11) list operations


Strings


List functions and operations continued
.pop()
.count()
.extend()
.index()
.sort()
List Comprehension
reassignment of values
Tuples


sets
dictionary


Functions

Error Handeling

In [1]:
#variable: stores the address of the data

In [2]:
[34,23,43,54,65,760]

[34, 23, 43, 54, 65, 760]

In [4]:
[34,23,43,54,65,760]*4

[34,
 23,
 43,
 54,
 65,
 760,
 34,
 23,
 43,
 54,
 65,
 760,
 34,
 23,
 43,
 54,
 65,
 760,
 34,
 23,
 43,
 54,
 65,
 760]

In [25]:
x=[34,23,43,54,65,760]

In [26]:
x

[34, 23, 43, 54, 65, 760]

In [7]:
x*4

[34,
 23,
 43,
 54,
 65,
 760,
 34,
 23,
 43,
 54,
 65,
 760,
 34,
 23,
 43,
 54,
 65,
 760,
 34,
 23,
 43,
 54,
 65,
 760]

In [8]:
int x= 45

SyntaxError: invalid syntax (<ipython-input-8-deb19609be15>, line 1)

In [10]:
#we can only use a-z,A-Z, _ and number(only at the end not at the beginning)
_x=10
x_=11
x10=12

In [2]:
10x=40

SyntaxError: invalid syntax (<ipython-input-2-f70046259df6>, line 1)

'''Data types in python.
There are 2 types of data in python
1) Mutable(we can change the value of these)= Lists, Sets, Dictionaries
2) Immutable(we cannot change the value of these)= Number, strings, Tuples
'''

# numbers

In [12]:
#integers
x=10

In [13]:
#using type() to see the type of the data that is stored in our variable x
type(x)

int

In [14]:
#float
x=10.1

In [16]:
type(x)

float

In [22]:
#string: This is text data, anything enclosed within quotes will be considered as a string data type
x='this is a string'
y="this is also a string"
z='5'

In [23]:
z='this is not a valid string"

SyntaxError: EOL while scanning string literal (<ipython-input-23-3fc62f8a4c5e>, line 1)

In [12]:
#use triple quotes to enclose the string if there is quotation mark in it.
string_with_quotation='''this is jhon's,'''

In [13]:
string_with_quotation

"this is jhon's,"

''

In [55]:
#tuples(will explain this in further detail)
x=(1,2,3,'string data',4.5,(1,2,3),{1:2},[1,2,3])

In [57]:
#list(will explain this in further detail)
listx=[1,2,3,'string data',4.5,(1,2,3),{1:2},[1,2,3]]

In [32]:
#dictionary, just stores key value pairs(will explain this in further detail in next video)
dictionary={'Name':'Algotaught', 'age':34, 'designation':'data science'}

In [33]:
#sets unordered collection of items with no repitition.
x=[1,1,1,1,2,3,4,4,4,5]
set(x)

{1, 2, 3, 4, 5}

In [3]:
set_numbers={1,1,1,1,1,1,2,3,4,6}

In [4]:
set_numbers

{1, 2, 3, 4, 6}

In [59]:
x=5

In [60]:
x==6

False

'''operators: These allow us to perform operations on our data. 
Type of operators: 
Airthematic: these return a value + - * / ** // %
Comparision: these return True or False(true and false are python datatype) ==,!=,>,<,>=,=<
Membership operators: 'in' to check whether something exists or not
                       'not in' opposite of in
'''

In [6]:
#airthematic
x=23
y=43
x+y

66

In [36]:
x-y

-20

In [7]:
x**5

6436343

In [38]:
x/y

0.5348837209302325

In [63]:
y/x

1.8695652173913044

In [39]:
x*y

989

In [41]:
# // gives the quotient and only an integer value so if quoteint is not integer it will give 0
y//x

1

In [ ]:
#password3296

In [42]:
x//y

0

In [43]:
# % gives you the remainder
y%x

20

In [44]:
x%y

23

'''if else elif conditions
These are regular conditions just like we use in our day to day life eg. if it is raining don't play else play
'''

In [47]:
x='Raining'
if x=='Raining':
    print("don't play outside")
else:
    print('you can play outside')

don't play outise

In [49]:
y= 'Raining Heavily'
if y == 'Raining':
    print('you can play')
elif y == 'Not Raining':
    print('You can play')
elif y== 'Raining Heavily':
    print('don\'t play')

don't play

'''difference between multiple if statements and multiple elif
   In case of multiple if statements all the if conditions will be checked and then accordingly the program will procees
   In case of multiple elif followed by if the program will continue to check but as soon as one of the statement is satisfied the program will not check the rest of the conditions
'''

In [19]:
x=10
if (x>5):
    print('x is greater than 5')
if (x%2==0):
    print('x is also an even number')
else:
    print('x is something else')

x is greater than 5
x is also an even number

In [29]:
x=4
if (x>5):
    print('x is greater than 5')
elif (x%2==0):
    print('x is even')
else:
    print('x is something else')

x is even

'''Indentation: By indenting we add a block of code under the condition which will tell python to execute if condition is met'''

# question: if the value of x is greater than 10 then add 5 if it is less than or equal to 10 then subtract 5.

In [22]:
# nested if else
raining='yes'
intensity='unknown'

In [24]:
if raining=='yes':
    if intensity=='heavily':
        print("don't play")
    elif intensity=='mild':
        print("play")
    else:
        print('please check the intensity of rain')
else:
    print('play')

please check the intensity of rain

# for loop: goes through the iterable dataset one by one

In [1]:
numbers=[1,2,3,4,5,6,7]
print(numbers)

[1, 2, 3, 4, 5, 6, 7]

In [2]:
for x in numbers:
    print(x**2)

1
4
9
16
25
36
49

In [ ]:
for x in numbers:
    print(x,sep=',')

In [2]:
#continue, break, pass

In [4]:
for x in numbers:
    if x==4:
        continue
    else:
        print(x)

1
2
3
5
6
7

In [5]:
for x in numbers:
    if x==4:
        break
    else:
        print(x)

1
2
3

In [6]:
for x in numbers:
    pass

In [30]:
for x in numbers:

SyntaxError: unexpected EOF while parsing (<ipython-input-30-b695df081a0b>, line 1)

In [5]:
#for else statement
for x in numbers:
    if x==4:
        continue
    else:
        print(x)
else:
    print('for loop executed successfully')

0
1
2
3
5
6
7
8
9
for loop executed successfully

In [3]:
#for else statement
for x in numbers:
    if x== 5:
        break
    else:
        print(x)
else:
    print('for loop executed successfully')

0
1
2
3
4

In [3]:
#while loop
x=0
while x<=10:
    print(x)
    x+=1
    x+=4

0
5
10

In [21]:
x=0
while x<=10:
    print(x)
    x+=1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
x=0

In [33]:
x = 1000
while x >= 150:
    if x % 5==0:
        print(x)
    x -= 1

1000
995
990
985
980
975
970
965
960
955
950
945
940
935
930
925
920
915
910
905
900
895
890
885
880
875
870
865
860
855
850
845
840
835
830
825
820
815
810
805
800
795
790
785
780
775
770
765
760
755
750
745
740
735
730
725
720
715
710
705
700
695
690
685
680
675
670
665
660
655
650
645
640
635
630
625
620
615
610
605
600
595
590
585
580
575
570
565
560
555
550
545
540
535
530
525
520
515
510
505
500
495
490
485
480
475
470
465
460
455
450
445
440
435
430
425
420
415
410
405
400
395
390
385
380
375
370
365
360
355
350
345
340
335
330
325
320
315
310
305
300
295
290
285
280
275
270
265
260
255
250
245
240
235
230
225
220
215
210
205
200
195
190
185
180
175
170
165
160
155
150

In [35]:
x = 0
while x<1000:
    print(x)
    x+=100

0
100
200
300
400
500
600
700
800
900

In [36]:
x=1000

1000

In [ ]:
#problem 1: Using while loop set the value of x =1000

In [ ]:
#problem 2: using for loop find the numbers which are divisible  by 5 in the list below

In [ ]:
#problem 3: using for loop find the numbers which are divisible by 5 and stop the for loop at 150

In [23]:

list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

In [3]:
x=0
while x<1000:
    x+=1

In [4]:
x

1000

In [16]:
#range
x=range(10)

In [12]:
list(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
for numbers in x:
    print(numbers)

0
1
2
3
4
5
6
7
8
9

In [13]:
range(10.5)

TypeError: 'float' object cannot be interpreted as an integer

In [93]:
range(5,10)

range(5, 10)

In [94]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [37]:
#step size
x=range(0,10)

In [38]:
list(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
x=range(0,10,3)

In [2]:
list(x)

[0, 3, 6, 9]

In [3]:
x=range(10,0,-10)

In [4]:
x

range(10, 0, -1)

In [25]:
list(x)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [26]:
#len()
len(x)

10

In [5]:
#taking input
input('what is your name?')

what is your name?6

'6'

In [ ]:
x=0

# list operations

In [27]:
#functions associated with lists

In [31]:
type(x)

range

In [5]:
list1=list(x)

In [6]:
type(list1)

list

In [95]:
list2=[6,7,.8]

In [55]:
list([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [3]:
x=[1,2,3,4,5]

In [2]:
list([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [4]:
x

[1, 2, 3, 4, 5]

In [1]:
list([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [7]:
#append
list1

NameError: name 'list1' is not defined

In [8]:
list2=[11,12,13,14,15]

In [10]:
list3=[]

In [11]:
list3.append([list1,list2])

In [12]:
print(list3)

[[[10, 9, 8, 7, 6, 5, 4, 3, 2, 1], [11, 12, 13, 14, 15]]]

In [13]:
list3.append(3)

In [14]:
list3

[[[10, 9, 8, 7, 6, 5, 4, 3, 2, 1], [11, 12, 13, 14, 15]], 3]

In [62]:
#indexing
list1

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [63]:
list1[2]

8

In [64]:
list3

[[[10, 9, 8, 7, 6, 5, 4, 3, 2, 1], [11, 12, 13, 14, 15]]]

In [6]:
list3[0]

NameError: name 'list3' is not defined

In [ ]:
list3[0][0]

In [ ]:
list3[0][0][4]

In [67]:
list3[0]
list3[0][1]
list3[0][1][4]

15

In [68]:
list1

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [70]:
list1[0:3]

[10, 9, 8]

In [71]:
list1[0:3:2]

[10, 8]

In [73]:
list1[3:0:-1]

[7, 8, 9]

In [102]:
list1[::-1]

[10, 9, 8, 7, 6, 5, 4, 3.5, 3, 2, 1]

In [101]:
list1[::1]

[1, 2, 3, 3.5, 4, 5, 6, 7, 8, 9, 10]

In [61]:
#insert function

In [16]:
list1.insert(3,4.5)

In [17]:
list1

[10, 9, 8, 4.5, 7, 6, 5, 4, 3, 2, 1]

In [105]:
# concatinating list
list1

[1, 2, 3, 4.5, 3.5, 4, 5, 6, 7, 8, 9, 10]

In [106]:
list2

[11, 12, 13, 14, 15]

In [107]:
list1+list2

[1, 2, 3, 4.5, 3.5, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [19]:
text='this is a string data'

In [21]:
text[0:4]

'this'

'''split function
without paramenters it will take " " as delimiter 
will always return a list
delimiter will not be included'''

In [10]:
#default dilimiter check
text.split()

['this', 'is', 'a', 'string', 'data']

In [11]:
#giving custom delimiter
text.split('i')

['th', 's ', 's a str', 'ng data']

In [81]:
text[0]='j'

TypeError: 'str' object does not support item assignment

'''.partition() function 
will partition the data into 2 parts 
will always return a tuple with delimiter as middle value. '''

In [15]:
text.partition('s')

('thi', 's', ' is a string data')

In [12]:
#replacing data in a string
text

'this is a string data'

In [13]:
text.replace('string','text')

'this is a text data'

In [16]:
text.replace('data',"")

'this is a string '

In [17]:
#more functions
text.upper()

'THIS IS A STRING DATA'

In [18]:
text.lower()

'this is a string data'

In [23]:
text.count('i')

3

In [26]:
text.count('this')

1

In [27]:
#gives the index value but only for the first occurance
text.find('i')

2

In [28]:
text.find('string')

10

In [ ]:
#f string literal used for passing data into real time
#as many curly braces are present that many variables you should give inside .format parameter.

In [14]:
name='Alex'

In [15]:
text1='my name is {}'.format(name)
text2='{} is my name'.format(name)
text3='you can call me {}'.format(name)

In [16]:
text1

'my name is Alex'

In [17]:
text2

'Alex is my name'

In [18]:
text3

'you can call me Alex'

In [51]:
#escape characters
# \ represented as \\
print('this is a string \\')

this is a string \

In [9]:
print('this is a string \')

SyntaxError: EOL while scanning string literal (<ipython-input-9-a9d4c031168a>, line 1)

In [49]:
# how to give a new line
print('this is sentece 1. this is sentence 2')

this is sentece 1. this is sentence 2

In [53]:
print('this is sentece 1.\nthis is sentence 2')

this is sentece 1.
this is sentence 2

In [54]:
# tab spacing
print('this is a \t saperated string')

this is a 	 saperated string

In [ ]:
# is checks in strings
#returns true or false boolean values based on whether the check is satisfied or not

In [76]:
text

'this is a string data'

In [79]:
print(text.isalnum())
print(text.isalpha())
print(text.islower())
print(text.isupper())
print(text.isspace())
print(text.endswith('data'))

False
False
True
False
False
True

In [32]:
string1=r'this is line 2.\nthis is line 1'

In [33]:
print(string1)

this is line 2.\nthis is line 1

'''.pop() function
   keep in mind that this function performs permanent action. 
'''

In [7]:
list1=[1,2,3,4,5,6,7,8]

In [8]:
#if no index value provided then pops last value
list1.pop()

8

In [15]:
list1

[1, 2, 3, 4, 5, 6, 7]

In [16]:
#pops at the index value specified
list1.pop(0)

1

In [17]:
list1

[2, 3, 4, 5, 6, 7]

In [18]:
#storing popped value in a variable

In [19]:
popped_variable=list1.pop(3)

In [20]:
popped_variable

5

'''count()
   counts the occurance of a datapoint 
   different from len
'''

In [22]:
list2=[1,1,1,1,2,3,4,4,4,5,5,6,7]

In [25]:
list2.count(1)

4

In [26]:
#.extend() to avoid nested list while merging 2 lists

In [27]:
list1

[2, 3, 4, 6, 7]

In [28]:
list2

[1, 1, 1, 1, 2, 3, 4, 4, 4, 5, 5, 6, 7]

In [29]:
list1.extend(list2)

In [113]:
list1

[7, 7, 6, 6, 5, 5, 4, 4, 4, 4, 3, 3, 2, 2, 1, 1, 1, 1]

'''.index() to find the index of a datapoint
will only give the index of the first occurance'''

In [114]:
list1.index(5)

4

In [33]:
#sort

In [34]:
list1.sort()

In [35]:
list1

[1, 1, 1, 1, 2, 2, 3, 3, 4, 4, 4, 4, 5, 5, 6, 6, 7, 7]

In [37]:
list1.sort(reverse=True)

In [38]:
list1

[7, 7, 6, 6, 5, 5, 4, 4, 4, 4, 3, 3, 2, 2, 1, 1, 1, 1]

'''list comprehension
   Another way of writing a for loop 
   and storing the results in a saperate list
'''

In [42]:
list2=[x*2 for x in list1]

In [43]:
list2

[14, 14, 12, 12, 10, 10, 8, 8, 8, 8, 6, 6, 4, 4, 2, 2, 2, 2]

In [44]:
#reassignment operation

In [45]:
list2[0]=15

In [46]:
list2

[15, 14, 12, 12, 10, 10, 8, 8, 8, 8, 6, 6, 4, 4, 2, 2, 2, 2]

In [48]:
len(list2)

18

In [115]:
#if index provided is greater then the length of the list then error will occur.
list2[(len(list2)+1)]=79

IndexError: list assignment index out of range

'''Tuples
   Same as the lists with only 2 differences
   1) immutable
   2) () instead of []
'''

In [50]:
tuple1=(1,2,3,4,5)

In [116]:
tuple1[3]=5

TypeError: 'tuple' object does not support item assignment

'''used to remove the duplicate values from a collection of values
represented with {}
cannot append collections only primitive datatype can be appended one at a time
Cannot index a set because it stores data in unordered way'''

In [53]:
#removing duplicates from list
list1

[7, 7, 6, 6, 5, 5, 4, 4, 4, 4, 3, 3, 2, 2, 1, 1, 1, 1]

In [54]:
set(list1)

{1, 2, 3, 4, 5, 6, 7}

In [58]:
#removing duplicates from tuples
tuple1=(1,1,1,1,1,3,4,5,5,5,5,6,7,8)

In [59]:
set(tuple1)

{1, 3, 4, 5, 6, 7, 8}

In [60]:
#creating sets
set1={1,2,3,4,4,4,4,5,6,7}

In [61]:
set1

{1, 2, 3, 4, 5, 6, 7}

In [62]:
#appending values to set, cannot append collections only primitive datatype can be appended one at a time

In [117]:
set1.add(9)

In [118]:
set1

{1, 2, 3, 4, 5, 6, 7, 9}

In [66]:
set1.add([list1])

TypeError: unhashable type: 'list'

In [67]:
#trying to index a set

In [68]:
set1

{1, 2, 3, 4, 5, 6, 7}

In [69]:
set1[2]

TypeError: 'set' object is not subscriptable

# Dictionary

'''stores data in form of key and values
keys cannot repeat, should not contain special characters and should not be a collection.(eg. list, tuple,set.)
Duplicate keys will result in later one getting considered and former will be not be considered even while adding new key and values
values can repeat and can be any type of data even collections 
nested dictionaries are dictionaries which are value to a key in a dictionary
'''

In [24]:
dictionary1={'name':'my name', 'key3':2, 'country':'India'}

In [71]:
#repeating keys
dictionary2={'name':'my name','name':'your name', 'age':42, 'country':'India'}

In [72]:
dictionary2

{'name': 'your name', 'age': 42, 'country': 'India'}

In [73]:
#special characters not allowed

In [22]:
dictionary3={'-myname':'my name'}

In [76]:
#collection cannot be a key
dictionary4={[1,2,3,4,5]:'collection'}

TypeError: unhashable type: 'list'

In [77]:
#values can be anything and can repeat as many times as you want

In [87]:
dictionary5={'my age':40, 'your age':40,'country names':['India','Bharat','Hindustan']}

In [88]:
dictionary5

{'my age': 40,
 'your age': 40,
 'country names': ['India', 'Bharat', 'Hindustan']}

In [89]:
#extracting values
dictionary5.get('my age')

40

In [84]:
dictionary5['your age']

40

In [85]:
#nested dictionary
nested_dictionary={'employee 1':{'name':'his name','age':'his age'},'employee 2':{'name':'emp2 name','age':'emp2 age'}}

In [86]:
nested_dictionary.get('employee 1').get('name')

'his name'

In [87]:
nested_dictionary.get('employee 2').get('name')

'emp2 name'

In [88]:
#creating new key value pair

In [90]:
dictionary5

{'my age': 40,
 'your age': 40,
 'country names': ['India', 'Bharat', 'Hindustan']}

In [92]:
dictionary5['continent name']='asia'

In [93]:
dictionary5

{'my age': 40,
 'your age': 40,
 'country names': ['India', 'Bharat', 'Hindustan'],
 'continent name': 'asia'}

In [93]:
#printing all the items
dictionary5.items()

dict_items([('my age', 42), ('your age', 40), ('country names', ['India', 'Bharat', 'Hindustan']), ('continent name', 'asia')])

In [94]:
#printing all the keys 
dictionary5.keys()

dict_keys(['my age', 'your age', 'country names', 'continent name'])

In [96]:
#printing all the values
dictionary5.values()

dict_values([42, 40, ['India', 'Bharat', 'Hindustan'], 'asia'])

In [97]:
#pop() function in dictionary

In [98]:
#without specifying the key you want to pop, the function will throw this error
dictionary5.pop()

TypeError: pop expected at least 1 arguments, got 0

In [100]:
dictionary5.pop('continent name')

'asia'

In [101]:
dictionary5

{'my age': 42,
 'your age': 40,
 'country names': ['India', 'Bharat', 'Hindustan']}

40

'''Functions: It is a block of organised reusable code 
    why do use functions? --> we use functions to avoid typing a piece of code again and again. '''

In [104]:
#creating functions
a=1
b=2
sum=a+b

In [105]:
a=1
b=2
sum=a+b

In [45]:
def add(a,b):
    sum1=a+b
    return sum1

In [46]:
x=add(5,5)

In [47]:
print(x)

10

In [42]:
sum1

NameError: name 'sum1' is not defined

In [101]:
#calling a function
output=add(4,5)

9

In [102]:
output

In [108]:
add(2,3)

5

In [112]:
add(2,3,4)

TypeError: add() takes 2 positional arguments but 3 were given

In [109]:
#creating function with hardcoded values
def add2():
    sum=5+5
    return sum

In [107]:
def sub():
    sum=10-5
    return sum

In [108]:
sub()

5

In [32]:
def prime(x):
    if x > 1:
       for i in range(2,x):
           if (x % i) == 0:
               print(x,"is not a prime number")
               print(i,"times",x//i,"is",x)
               break
       else:
           print(x,"is a prime number")

    else:
       print(x,"is not a prime number")

In [10]:
try:
    a+b
except Exception as e:
    print(e)

name 'a' is not defined

In [12]:
try:
    a+b
except:
    print('Error: cannot perform mathematical operation on string type of data')

Error: cannot perform mathematical operation on string type of data

In [54]:
print(str(50))

50

In [55]:
print('this is a string')

this is a string

In [14]:
try:
    print(5+5)
except:
    print('Error: cannot perform mathematical operation on string type of data')
else:
    print('Numbers added successfully')

10
Numbers added successfully

In [15]:
try:
    print(5+5)
except:
    print('Error: cannot perform mathematical operation on string type of data')
else:
    print('Numbers added successfully')
finally:
    print('resources released')

10
Numbers added successfully
resources released

In [22]:
#custom exception
try:
    sum=6+5
    print('SUM:',sum)
    if sum!= 10:
        raise Exception
except Exception as e:
    print('sum of the values is not 10!!!')
else:
    print('Numbers added successfully')
finally:
    print('resources released')

SUM: 11
sum of the values is not 10!!!
resources released

In [2]:
try:
    print(5+k)
except:
    print('Error: cannot perform mathematical operation on string type of data')
else:
    print('Numbers added successfully')
finally:
    print('resources released')

Error: cannot perform mathematical operation on string type of data
resources released